body{
    margin: 0px;
    padding: 0px;
 }
.logo-tittle{
    color: rgb(126, 197, 56);
    font-family: 'Pacifico', cursive;
    font-size: 15px;
}
.navbar-container{
    display: flex;
    background-color: rgb(17, 10, 94);
    align-items: center;
    justify-content: space-around;
}
.logo{
    width: 72px;
}
.img-1{
    margin-left: 200px;
}
.img-2{
    margin-left: 300px;
    font-size: xx-large;
}
.menus-container{
    display: flex;
    list-style: none;
    gap: 30px;
    font-size: 20px;
    color: rgb(55, 118, 174);
    
}
.menus-container li a {
    text-decoration: none;
    color: white;
}
.slider-part{
    
    width: 00%;
}
.banner_container{
    display: flex;
    width: 80%;
    margin: auto;
    height: 100vh;
    align-items: center;  
}
.name{
    font-family: 'Josefin Sans', sans-serif;
}

.grab-offer{
    font-family: 'Philosopher', sans-serif;
}
.offer{
    color: crimson;
    font-family: 'Lobster', sans-serif;
}
.tittle{
    font-size: 66px;
    font-weight: bold;
    color: rgb(28, 220, 195);
    text-align: center;
}
.description{
    font-size: 25px;
    color: rgb(70, 41, 41);
}
button{
    padding: 15px 25px;
    border: none;
    color: rgb(80, 191, 191);
    background-color: black;
}
.service-card{
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 0%;
    margin: 0%;
  
}
.service_img{
    width: 40%;
}
.mac-card{
    padding: 20px; 
    width: 100%;
    background-color: aquamarine;
    justify-content:space-around;
    /* align-items: normal; */
}
.mac_img{
    width: 60%;
    margin: 100px 0px 0px 130px;
}
.mac-text{
    
    margin: 100px 0px 0px 170px;
}
.services-container{
    display: flex;
    justify-content: space-between;
    
}
.airpod{
    padding-bottom:50px;
    padding-top: 20px;
    background-color: #a5bee7;
}
.pad{
    background-color: #5d99de;
    padding-top: 20px;
    padding-bottom:50px;
}
.arrow{
    background-color: #fff;
}
.arrow img{
    width: 15px;
    gap: 15px;
}

.brows-arrow{
  font-style: italic;
    padding-top:10px ;
    display: flex;
    justify-content: space-around;
}

.brows-card{

    width: 10%;
    gap: 2%;
    box-shadow: 4px 4px 8px;
    border-radius: 5px;
    justify-content: center;
}
.brows_img{
    width: 100%;
}
.brows-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.brows-card p{
    padding-top: 10px;
}
.br-btn{
    background-color: #ffffff;
    gap: 20px;
    width: 100%;
    color: #030015;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: #695393;
    color: white;
    padding: 3%;
  }
  footer div {
    width: 25%;
  }
  footer .logo img {
    width: 100%;
  }
  footer .social {
    display: flex;
    width: 20%;
  }
  footer .social img {
    width: 50%;
  }
  footer div h4 {
    color: rgb(216, 213, 213);
  }
  .six {
    background-color: #958ad4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4% 0;
  }
  .six div {
    width: 25%;
  }
  .six div .two {
    width: 50%;
  }
  .six div img {
    width: 50%;
  }
  .six div p{
    color: rgb(77, 15, 139);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .six div {
    font-family: Lobster;
    text-align: center;
  }
  .six div h2{
    color: rgb(172, 1, 36);
  }
  .six div h2 span {
    color:rgb(8, 12, 119);
    font-weight: bold;
    font-size: 46px;
  }
  .five {
    margin: 5%;
  }
  .five .title2 {
    display: flex;
    gap: 2%;
  }
  .cards {
    display: flex;
    gap: 2%;
  }
  .card {
    background:#EDEDED;
    width: 25%;
    padding: 5px;

    text-align: center;
  }
  .card div {
    
    width: 100%;
  }
  .card div img {
    width: 70%;
    padding-top: 10px;
  }
  .card div p {
    margin: 0;
  }
  .card button {
    background-color: black;
    border: none;
    border-radius: 25px;
    width: 60%;
    padding: 10px 0;
    border-radius: 5px;
    color: rgb(214, 191, 191);
  }

  @media only screen and (min-width:320px) and (max-width:480px) {
    * {
      width: fit-content;
    }
    .mac_img{
      width: 70%;
      margin: 70px 0px 50px 30px;
  }
  .mac-text{ 
      margin: 10px 0px 15px 15px;
  }
    .cards {
      display: grid;
      grid-template-columns: repeat(2,1fr);
    }
    .pad{
      background-color: #5d99de;
      padding-top: 25px;
      padding-left: 17px;
      padding-bottom:50px;
  }
  .airpod{
    padding-bottom:50px;
    padding-top: 20px;
    padding-left: 15px;
    background-color: #a5bee7;
}
    .card {
      width: 100%;
      padding: 0px;
    }
    .brows-cards {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  
    .brows-card p{
      padding-top: 10px;
      padding-left: 50px;
  }
    .brows-card {

      width: 100%;
    }
    footer{
      flex-direction: column;
      align-items: center;
    }

    .six{
      flex-direction: column;
    }
    .name{
      font-family: 'Josefin Sans', sans-serif;
      font-size: 15px;
  }
  
  .grab-offer{
      font-family: 'Philosopher', sans-serif;
      font-size: 10px;
  }
  .offer{
      color: crimson;
      font-family: 'Lobster', sans-serif;
      font-size: 20px;
  }
  .services-container{
    flex-direction: column;
  }
  }
 